.CompanyCard {
    max-height: 250px;
    margin-bottom: 1rem;
    color: inherit;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .CompanyCard img {
    width: 50px;
  }
  
  .CompanyCard:hover {
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }